<div class="changebac">
  <div mat-dialog-title class="fs-4 text-center">Edit User</div>
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="row align-items-center me-1 mb-1 ms-1">
          <form
            [formGroup]="editUserForm"
            class="border p-3 rounded-4"
            enctype="multipart/form-data"
          >
            <div class="g-0"></div>
            <div class="row">
              <div class="col mb-1">
                <label class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control is-valid form-md-control-md bg-light fs-6"
                  placeholder="First Name"
                  name="fname"
                  id="fname"
                  [value]="userdata.data.fname"
                  formControlName="fname"
                  [ngClass]="{'is-valid':(fname.touched || fname.dirty)&&!(fname.errors?.['required'] || (fname.errors?.['pattern'])),'is-invalid':((fname.touched||fname.dirty) && (fname.errors?.['required'] || (fname.errors?.['pattern'])))}"
                />@if ((fname.touched || fname.dirty) &&
                fname.errors?.['required']) {
                <div class="invalid-feedback">*Firstname is Required.</div>
                } @if (fname.errors?.['pattern']&&(fname.touched ||
                fname.dirty)) {
                <div class="invalid-feedback mb-1 ps-1">
                  *Firstname is Invalid.
                </div>
                }
              </div>
              <div class="col-md mb-1">
                <label class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control form-control-md bg-light fs-6"
                  placeholder="Last Name"
                  name="lname"
                  id="lname"
                  formControlName="lname"
                  [ngClass]="{'is-valid':(lname.touched || lname.dirty)&&!(lname.errors?.['required'] || (lname.errors?.['pattern'])),'is-invalid':((lname.touched||lname.dirty) && (lname.errors?.['required'] || (lname.errors?.['pattern'])))}"
                />
                @if ((lname.touched || lname.dirty) &&
                lname.errors?.['required']) {
                <div class="invalid-feedback">*Lastname is Required.</div>
                } @if (lname.errors?.['pattern']&&(lname.touched ||
                lname.dirty)) {
                <div class="invalid-feedback mb-1 ps-1">
                  *Lastname is Invalid.
                </div>
                }
              </div>
            </div>
            <div class="row mt-1">
              <div class="col mb-2">
                <label class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="Email"
                  name="email"
                  id="email"
                  formControlName="email"
                  [ngClass]="{'is-valid':(id.touched || id.dirty)&&!(id.errors?.['required'] || (id.errors?.['pattern'])),'is-invalid':((id.touched||id.dirty) && (id.errors?.['required'] || (id.errors?.['pattern'])))}"
                />
                @if ((id.touched || id.dirty) && id.errors?.['required']) {
                <div class="invalid-feedback ps-1">*id is Required.</div>
                } @if (id.errors?.['pattern']&&(id.touched || id.dirty)) {
                <div class="invalid-feedback mb-1 ps-1">*Email is Invalid.</div>
                }
              </div>
              <div class="col mb-2">
                <label class="form-label">Phone</label>
                <input
                  type="tel"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="Phone Number"
                  name="phone"
                  id="phone"
                  formControlName="phone"
                  [ngClass]="{'is-valid':(phone.touched || phone.dirty)&&!(phone.errors?.['required'] || (phone.errors?.['pattern'])),'is-invalid':((phone.touched||phone.dirty) && (phone.errors?.['required'] || (phone.errors?.['pattern']) || phone.errors?.['minlength'] ||phone.errors?.['maxlength']))}"
                />
                @if ((phone.touched || phone.dirty) &&
                phone.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Phone No. is Required.</div>
                }@if(phone.errors?.['pattern']&&(phone.touched || phone.dirty))
                {
                <div class="invalid-feedback mb-1 ps-1">
                  *Phone Number is Invalid.
                </div>
                } @if ((phone.touched || phone.dirty) &&
                phone.errors?.['minlength']) {
                <div class="invalid-feedback ps-1">*Phone Number is Short.</div>
                } @if ((phone.touched || phone.dirty) &&
                phone.errors?.['maxlength']) {
                <div class="invalid-feedback ps-1">*Phone Number is Long.</div>
                }
              </div>
            </div>
            <div class="row g-0">
              <div class="col-md ps-4">
                <label for="department" class="form-label">Department</label>
                <select
                  name="department"
                  id="department"
                  formControlName="department"
                  class="form-select bg-light w-75"
                  [ngClass]="{'is-valid':(department.touched)&&!(department.errors?.['required']),'is-invalid':((department.touched) && (department.errors?.['required']))}"
                >
                  @for (item of deptArray; track $index) {
                  <option value="{{ item }}">{{ item }}</option>
                  }
                </select>
                @if (department.touched && department.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Role is Required.</div>
                }
              </div>
            </div>
            <div class="row mt-1">
              <div class="col">
                <label for="dateOfBirth" class="form-label">Birth Date</label>
                <input
                  type="date"
                  class="form-control form-md-control-md bg-light fs-6"
                  name="dateOfBirth"
                  id="dateOfBirth"
                  formControlName="dateOfBirth"
                  placeholder="Date Of Birth"
                  [ngClass]="{'is-valid':(date.touched)&&!(date.errors?.['required']),'is-invalid':((date.touched) && (date.errors?.['required']))}"
                />
                @if (date.touched && date.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Date is Required.</div>
                }
              </div>
              <div class="col mb-2">
                <label for="salary" class="form-label">Salary</label>
                <input
                  type="number"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="Salary"
                  name="salary"
                  id="salary"
                  formControlName="salary"
                  [ngClass]="{'is-valid':(salary.touched || salary.dirty)&&!(salary.errors?.['required'] || (salary.errors?.['pattern'])),'is-invalid':((salary.touched||salary.dirty) && (salary.errors?.['required'] || (salary.errors?.['pattern'])))}"
                />
                @if ((salary.touched || salary.dirty) &&
                salary.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Salary is Required.</div>
                }@if(salary.errors?.['pattern']&&(salary.touched ||
                salary.dirty)) {
                <div class="invalid-feedback mb-1 ps-1">
                  *Salary is Invalid.
                </div>
                }
              </div>
            </div>

            <div class="row mt-2">
              <div class="col text-center">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-auto"
                  [disabled]="editUserForm.invalid"
                  (click)="editUser()"
                >
                  Edit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn" class="m-auto">
      Close
    </button>
  </div>
</div>
