<p>loginform works!</p>

<!-- {{loginForm.value | json }}
{{loginForm.pristine }}
{{loginForm.dirty }} -->

<!-- <form [formGroup]="loginForm" class="login-form" (ngSubmit)="check()">

    <mat-form-field class="example-full-width">
        <!-- <mat-label>Username</mat-label> 
        <input matInput formControlName="username" placeholder="Username" type="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <!-- <mat-label>Password</mat-label> 
        <input matInput formControlName="password" placeholder="Password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" >Submit</button>

</form> -->