.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

mat-card,
mat-card-footer,
mat-paginator {
  background-color: #ecf0f3;
}
table {
  background-color: #ecf0f3;
}
.table-responsive {
  overflow-x: auto;
}

/* tr,
  td {
    padding: 0px !important;
    text-align: center;
  } */
