<mat-toolbar class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon style="color: white">menu</mat-icon>
  </button>
  <span style="color: white" class="ms-2">EMS</span>
  <span class="example-spacer"></span>
  @if(isAdmin || isEmployee){
  <button
    class="btn btn-outline-light ms-auto me-2 fw-bold border border-1"
    (click)="logout()"
  >
    Logout</button
  >}
</mat-toolbar>
<mat-drawer-container class="mt-1">
  <mat-drawer
    #drawer
    opened="false"
    mode="side"
    position="start"
    class="responsive-drawer"
  >
    <mat-nav-list>
      <ul class="nav-list">
        @if(isAdmin) {
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-user-tie"></i>
            <span
              ><a routerLink="/adminDashboard" routerLinkActive="active"
                >Admin</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-people-roof"></i>
            <span
              ><a routerLink="/manage-staff" routerLinkActive="active"
                >Staff</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-plus"></i>
            <span
              ><a routerLink="/add-staff" routerLinkActive="active"
                >Add Staff</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-building"></i>
            <span
              ><a routerLink="/manage-dept" routerLinkActive="active"
                >Department</a
              ></span
            >
          </li>
        </mat-list-item>

        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-building"></i>
            <span
              ><a routerLink="/manage-salary" routerLinkActive="active"
                >Salary</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span
              ><a routerLink="/manage-leaves" routerLinkActive="active"
                >Leave</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-clipboard-user"></i>
            <span
              ><a routerLink="/manage-attendance" routerLinkActive="active"
                >Attendance</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-pen-fancy"></i>
            <span
              ><a routerLink="/update-profile" routerLinkActive="active"
                >Update Profile</a
              ></span
            >
          </li>
        </mat-list-item>
        } @else if (isEmployee) {
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span
              ><a routerLink="/employeeDashboard" routerLinkActive="active"
                >Employee</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span
              ><a routerLink="/apply-leave" routerLinkActive="active"
                >Leave</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-regular fa-address-card"></i>
            <span
              ><a routerLink="/emp-profile" routerLinkActive="active"
                >Profile</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            <span
              ><a routerLink="/holiday-list" routerLinkActive="active"
                >Holidays</a
              ></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-pen-fancy"></i>
            <span
              ><a routerLink="/update-profile" routerLinkActive="active"
                >Update Profile</a
              ></span
            >
          </li>
        </mat-list-item>
        } @else {
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span
              ><a routerLink="/login" routerLinkActive="active">Login</a></span
            >
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-address-card"></i>
            <span
              ><a routerLink="/register" routerLinkActive="active"
                >Register</a
              ></span
            >
          </li> </mat-list-item
        >}
      </ul>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawerContent">
    <div style="text-align: center; min-height: 41rem">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
