<mat-toolbar class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon style="color: white">menu</mat-icon>
  </button>
  <span style="color: white" class="ms-2">EMS</span>
  <span class="example-spacer"></span>
  <button class="btn btn-outline-light ms-auto me-2 fw-bold border border-1">
    Logout
  </button>
</mat-toolbar>
<mat-drawer-container autosize class="mt-1">
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <ul class="nav-list">
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span><a>Login</a></span>
          </li>
        </mat-list-item>
        <mat-list-item>
          <li class="nav-list-item">
            <i class="fa-solid fa-user-plus"></i>
            <span><a routerLink="register">Register</a></span>
            
          </li>
        </mat-list-item>
      </ul>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="drawerContent">
    <div style="text-align: center; min-height: 42rem">
      <h2 style="color: #378CE7">Welcome to our App</h2>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


