.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.box-area {
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  border-radius: 1.5rem;
  overflow: hidden;
  z-index: 0;
}
