<div class="container mt-5 col-sm-8 col-10">
  <div class="row box-area">
    <form
      [formGroup]="leaveForm"
      (ngSubmit)="onSubmit()"
      class="leave-form"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="leaveType" style="margin-top: 1%">Leave Type</label>
        <input type="text" formControlName="leaveType" class="form-control" />
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" formControlName="startDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" formControlName="endDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="reason">Reason</label>
        <textarea formControlName="reason" class="form-control"></textarea>
      </div>
      <button type="submit" style="margin-bottom: 1%" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>
