<header>
    <h3>Holidays list for the Year 2024</h3>
</header>
<div class="container">
    <ul>
        <li><span class="holiday-name">New Year's Day:</span> <span class="holiday-date">January 1, 2024 (Tuesday)</span></li>
        <li><span class="holiday-name">Republic Day:</span> <span class="holiday-date">January 26, 2024 (Saturday)</span></li>
        <li><span class="holiday-name">Holi:</span> <span class="holiday-date">March 21, 2024 (Thursday)</span></li>
        <li><span class="holiday-name">Eid al-fitr:</span> <span class="holiday-date">April 11, 2024 (Saturday)</span></li>
        <li><span class="holiday-name">Independence Day:</span> <span class="holiday-date">August 15, 2024 (Thursday)</span></li>
        <li><span class="holiday-name">Gandhi Jayanti:</span> <span class="holiday-date">October 2, 2024 (Thursday)</span></li>
        <li><span class="holiday-name">Durga puja:</span> <span class="holiday-date">October 11, 2024 (Thursday)</span></li>
        
    </ul>
</div>
