<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row col-sm-5 box-area">
    <div class="row col-12 text-center mt-4">
      <img
        [src]="getImageUrl() || '../assets/prof.jpg'"
        style="
          width: 250px;
          height: 250px;
          margin-left: auto;
          margin-right: auto;
        "
      />
    </div>
    <div class="row mt-2">
      <div
        class="col d-flex justify-content-center align-items-center mt-3 mb-2"
      >
        <table>
          <tbody>
            <tr>
              <td>First Name</td>
              <td>:</td>
              <td>{{ employee?.firstName }}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>:</td>
              <td>{{ employee?.lastName }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>:</td>
              <td>{{ employee?.email }}</td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>:</td>
              <td>{{ employee?.contact }}</td>
            </tr>
            <tr>
              <td>Department</td>
              <td>:</td>
              <td>{{ employee?.department }}</td>
            </tr>
            <tr>
              <td>Salary</td>
              <td>:</td>
              <td>{{ employee?.salary }}</td>
            </tr>
            <tr style="margin-bottom: 50px" class="mt-5">
              <td>Birthdate</td>
              <td>:</td>
              <td>{{ employee?.birthdate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <button
        mat-icon-button
        color="primary"
        matTooltip="Edit profile"
        (click)="editUser(employee)"
        class="m-auto"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
