<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row col-5 box-area">
    <div class="row col-12 text-center mt-4">
      <img
        src="../assets/prof.jpg"
        style="
          width: 250px;
          height: 250px;
          margin-left: auto;
          margin-right: auto;
        "
      />
    </div>
    <div class="row">
      <div
        class="col d-flex justify-content-center align-items-center mt-3 mb-2"
      >
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td>&nbsp;&nbsp;:</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;Sharad Pawar</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>&nbsp;&nbsp;:</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;Employee&#64;gmail.com</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>&nbsp;&nbsp;:</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;Gandhinagar, Gujrat, India</td>
            </tr>
            <tr>
              <td>Department</td>
              <td>&nbsp;&nbsp;:</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;IT</td>
            </tr>
            <tr>
              <td>Job</td>
              <td>&nbsp;&nbsp;:</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;Web Developer</td>
            </tr>
            <tr style="margin-bottom: 50px">
              <td>Skill</td>
              <td>&nbsp;&nbsp;:</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;PHP, HTML, CSS, Java</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <button
        routerLink="/update-profile"
        mat-icon-button
        color="primary"
        matTooltip="Edit row"
        class="m-auto"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
