<div class="container mt-3">
  <div class="row">
    <h2 class="fw-bold fs-3 text-muted">Dashboard</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header card1 text-white pt-4 pb-4">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-layer-group fa-4x opacity-75"></i>
            </div>
            <div class="col">
              <h1 class="fs-2">8</h1>
              <h6 class="fs-5">Departments</h6>
            </div>
          </div>
        </div>
        <div class="card-footer pb-0">
          <h3>
            <a
              routerLink="/manage-dept"
              class="card-text-1 text-decoration-none fw-medium fs-5"
              >View Details <i class="fa fa-arrow-alt-circle-right"></i
            ></a>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header card2 text-white pt-4 pb-4">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-users fa-4x opacity-75"></i>
            </div>
            <div class="col">
              <h1 class="fs-2">500</h1>
              <h6 class="fs-5">Staff</h6>
            </div>
          </div>
        </div>
        <div class="card-footer pb-0">
          <h3>
            <a
              routerLink="/manage-staff"
              class="card-text-2 text-decoration-none fw-medium fs-5"
              >View Details <i class="fa fa-arrow-alt-circle-right"></i
            ></a>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header card3 text-white pt-4 pb-4">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-arrow-right-from-bracket fa-4x opacity-75"></i>
            </div>
            <div class="col-7">
              <h1 class="fs-2">0</h1>
              <h6 class="fs-5">Leave Request</h6>
            </div>
          </div>
        </div>
        <div class="card-footer pb-0">
          <h3>
            <a
              routerLink="/login"
              class="card-text-3 text-decoration-none fw-medium fs-5"
              >View Details <i class="fa fa-arrow-alt-circle-right"></i
            ></a>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header card4 text-white pt-4 pb-4">
          <div class="row align-items-center">
            <div class="col">
              <i class="fa fa-indian-rupee-sign fa-4x opacity-75"></i>
            </div>
            <div class="col">
              <h1 class="fs-2">{{ "1000000" | currency : "INR" }}</h1>
              <h6 class="fs-5">Salary</h6>
            </div>
          </div>
        </div>
        <div class="card-footer pb-0">
          <h3>
            <a
              routerLink="/login"
              class="card-text-4 text-decoration-none fw-medium fs-5"
              >View Details <i class="fa fa-arrow-alt-circle-right"></i
            ></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
