.box-area {
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  border-radius: 1.5rem;
  overflow: hidden;
  z-index: 0;
}

.abc {
  text-align: left;
}
@media (max-width: 768px) {
  .box-area {
    padding: 10px;
  }
  .form-control {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .box-area {
    padding: 5px;
  }
  .form-control {
    font-size: 0.8rem;
  }
}
